:root {
    --teal-color:#27737D;
    --green-color:#046B3B;
    --light-color:#DDE4E6;
    --grey-color:#F1F1F1;
    --text-grey-color:#707070;
    --light-white-color:#A8C6CB;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Heebo;
}

html,body,#root {
    background-color: var(--grey-color);
    height: 100%;
    padding: 25px;
}

#root {
    display: flex;
    flex-direction: column;
}

.app-container {
    flex: 1;
    display:flex;
    flex-direction: row;
    gap:20px;
}


@media (max-width: 1250px) {
    html,body,#root {
        padding: 15px;
    }
}

@media (max-width: 850px){
    .app-container {
        flex-direction: column;
        gap:20px;
    }
    html,body,#root {
        padding: 10px;
    }
}






