.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.intro__logo {
    position: absolute;
    width: 110px;
    left: 0;
}

.intro__content {
    flex-grow: 1;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.intro__title {
    font-size: 2rem;
    font-weight: 200;
    color: var(--text-grey-color);
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.intro__details {
    color: var(--text-grey-color);
    font-weight: 230;
}

@media (max-width: 1250px) {
    .intro__content {
        margin-right: 0;
    }

    .intro__logo {
        width: 95px;
    }

    .intro__title {
        font-size: 1.7rem;

    }
}

@media (max-width: 850px) {
    .intro__content {
        margin-top: 50px;
        align-items: center;
    }

    .intro__logo {
        width: 60px;
    }

    .intro__title {
        font-size: 1.3rem;
        margin-top: 20px;

    }

    .intro__details {
        margin-top: 20px;
        font-size: 0.8rem;
    }
}