.weather-details {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
}

.weather-details-container {
    text-align: center;
    color:white;
    font-size: 1.4em;
    padding: 1.2vw;
}

.weather-details-container .title-detail{
    font-weight: 150;
}

@media (max-width: 1200px) {
    .location-date-wrapper .city {
        font-size: 1.5rem; 
    }

    .location-date-wrapper .country,
    .location-date-wrapper .date-time {
        font-size: 1em; 
    }

    .degree-status .degree {
        font-size: 8rem; 
    }

    .degree-status .status {
        font-size: 2rem; 
    }

    .placeholder-text h2 {
        font-size: 1.5rem; 
    }

    .placeholder-text p {
        font-size: 1rem;
    }

    .weather-details-container {
        font-size: 1.2em; 
    }
}

@media (max-width: 850px) {
    .location-date-wrapper .city {
        font-size: 1.2rem;
    }

    .location-date-wrapper .country,
    .location-date-wrapper .date-time {
        font-size: 0.8em;
    }

    .degree-status .degree {
        font-size: 4rem;
    }

    .degree-status .status {
        font-size: 1rem;
    }

    .placeholder-text h2 {
        font-size: 1.2rem;
    }

    .placeholder-text p {
        font-size: 0.9rem;
    }

    .weather-details-container {
        font-size: .8em;
    }

    .weather-details-container .title-detail {
        font-weight: 300;
    }
}