.weather-data-background {
    background-color: #DDE4E6;
    flex-grow: 1;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.weather-data-container {
    background-color: #27737D;
    border-radius: 30px;
    padding: 3rem 2rem;
    min-width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.location-date-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-date-wrapper .country,
.location-date-wrapper .date-time {
    font-weight: 100;
    font-size: 1.2em;
    opacity: .8;
    display: inline-block;
    line-height: 2.3;
}

.location-date-wrapper .country {
    line-height: 1;
}

.location-date-wrapper .city {
    font-size: 1.8rem;
    font-weight: 300;
    display: inline-block;
    line-height: 1;
}

.degree-status {
    text-align: center;
    color: white;
    line-height: 1;
    margin-top: 30px;
}

.degree-status .degree {
    font-size: 10rem;
    font-weight: 600;
}

.degree-status .status {
    font-size: 2.5rem;
    font-weight: 200;
}

.placeholder-text {
    color: white;
    text-align: center;
    padding: 0 .5rem;
}

.placeholder-text h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

.placeholder-text p {
    font-size: 1.2rem;
    font-weight: 100;
    opacity: 0.8;
}

.cloud-icon {
    height: 100px;
    padding: 2rem;
}

@media (max-width: 1000px) {
    .weather-data-container {
        padding: 2.5rem 0rem;
    }
}

@media (max-width:850px) {
    .degree-status{
        margin-top:0;
    }
}

@media (max-height:700px) {
    .weather-data-container {
        padding: 10px;
    }
}
